@{
    ViewBag.Title = "Hyrfilm";
}

<div class="jumbotron">
    <h1>Hyrfilm AB</h1>
    <p class="lead">Administrationssida för Hyrfilm AB</p>
    <p>För support ring 012-34567</p> 
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
